<%= @prize.title %>
<h2> THE WINNER IS...</h2>
<p><%= @winner %></p>
<%= link_to 'Back', prizes_path, :style=>
  'font-family: arial, sans-serif; 
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;' %>